
  body{
      background-image: url("./pastel.jpg");
      background-position: center;
      background-repeat:repeat;
      background-size: cover;
  }
  
  .button1 {background-color: #4CAF50;} /* Green */
  .button2 {background-color: #008CBA;} /* Blue */
  .button3{background-color: blueviolet;}
  .button4{background-color: rgb(178, 126, 226);}

  
  h1{
    color: rgb(226, 64, 118);
    text-align: center;
    
}
h4{
  color: purple;
}

.img{
  margin-left: 85%;
  border-radius: 5%;
  border:2px solid rgb(10, 4, 6) ;

}
li{
  color: purple;
}
.p1{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.column1 {
    width: 100%;
    padding: 10px 10px 10px 10px;
}    
.web1{
    float: left;
}
.txt{
    overflow: auto;
}
.co1{
   width:33%;
}
.clearfix1 {
    overflow: auto;
    zoom: 1;
    
  }
  .imy2{
    float:left;
   
    padding-left:25px ;
    padding-right: 25px;
  }
  .button {
    border:2px solid black;
    border-radius: 5%;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%; 
    height: 50px; 
 /*for laptops*/
  
   
      
    }

  
  /* for smaller phone */
  @media (max-width: 800px) {
    .button {
      border: none;
      color: white;
      padding: 15px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 4px 2px;
      cursor: pointer;
      width: 15%;
    }
    h1{
      color: rgb(226, 64, 118);
    margin-right: 30%;
      
  }
  .img{
    margin-left: 10%;
    border-radius: 5%;
    border:2px solid rgb(10, 4, 6) ;
    border-radius: 50%;
  
  }
  .button {
    border:2px solid black;
    border-radius: 5%;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 30%; 
    height: 85px; 
 /*for laptops*/
  
   
      
    }

  } 